**/.classpath
**/.settings
**/.project
**/.externalToolBuilders
**/target


**/webresources/bower_components
**/webresources/dist
**/webresources/node_modules
**/webresources/.tmp
**/webresources/.sass-cache
